.section-Portfolio .container {
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
}

.btn-group{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between; 
  margin-top: 5rem;
  
}

.proj-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.proj-title { 
  font-weight: bold;
  text-align: left;
  color: #ffffff; /* Darker color for contrast */
  margin-bottom: 20px;
  white-space: nowrap; /* Prevents the text from wrapping */
  overflow: hidden; /* Clips the text that overflows */
  border-right: 0.15em solid transparent; /* Creates the blinking cursor effect */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.5s ease; /* Smooth fade-in */
}

/* Typing and blinking animations */
.typing-animation {
  animation: typing 4s steps(30, end), blink 0.75s step-end infinite;
}

/* Typing animation keyframes */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

/* Blinking cursor animation */
@keyframes blink {
  from, to { border-color: transparent; }
  50% { border-color: #ffffff; }
}

.proj-description p {
  font-size: 1.6rem; /* Slightly larger font for readability */
  line-height: 1.6; /* Improve readability */
  color: #ffffff; /* Slightly lighter color for body text */
  margin-bottom: 15px;
  text-align: left;
}
.canvas-wrapper {
  flex: 1 1 300px;
  max-width: 500px;
  min-width: 300px;
  margin: 20px;
  /* Add some height to the canvas */
  height: 300px;
}

.proj-content {
  flex: 1 1 300px;
  max-width: 500px;
  min-width: 300px;
  margin: 20px;
}

/* Media Queries for smaller screens */
@media (max-width: 768px) {
  .proj-wrapper {
    flex-direction: column;
  }

  .canvas-wrapper,
  .proj-content {
    max-width: 100%;
  }

  .btn-group {
    flex-direction: column;
    align-items: flex-start;
  }

  .btn-group span {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.circle1 {
  height: 24px;
  width: 24px;
  border-radius: 50%; /* Makes the div a circle */
  background-color: black;
  position: fixed; 
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999; /* Ensures the circles are on top of all other elements */
  transition: transform 0.3s ease; /* Smooth scaling */
}
 
.circle {
  height: 170px;
  width: 170px;
  position: relative;
  bottom: 3rem;
  border-radius: 50%;
  background-color: #fff; 
  animation: bounceAnimation 2s ease infinite; /* Apply bounce animation */
}

.circle-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the circle without stretching */
  border-radius: 50%; /* Keeps the image within the circle */
  position: absolute; /* Positioned relative to the circle */
  top: 0; /* Ensure it aligns with the circle */
  left: 0; /* Ensure it aligns with the circle */
  z-index: 1; /* Ensures the image is on top */
}

.circle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 8px solid transparent; /* Initial border size */
  background:   white   ;
  background-size: 400% 400%;
  z-index: 0; /* Stays behind the image */
  box-sizing: border-box; /* Ensures border is included in the size calculations */
  animation: gradientAnimation 10s ease infinite, rippleAnimation 2s ease-out infinite;
}

.circle::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background-color: #fff; /* Optional: can be removed if the background should be transparent */
  z-index: 0; /* Ensures it stays behind the image */
}

/* Create an invisible circle around the cursor */
.section-Portfolio .heading {
  font-size: 5rem;
  line-height: 8rem;
  font-weight: bold;
  margin-bottom: 5rem;
  background-color: #fff;
  background-size: 500% 500%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 10s ease infinite,   typing 5s steps(30, end), blink 0.75s step-end infinite;
  text-align: center;
  pointer-events: none;
  mix-blend-mode: difference;
  overflow: hidden; /* Ensure the text is clipped at the edge */
  white-space: nowrap; /* Prevent the text from wrapping */
  border-right: 0.15em solid transparent; /* Create a blinking cursor */
}

/* Typing animation */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* Blinking cursor */
@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: black; }
}


.section-Portfolio .heading2 {
  font-size: 3rem;
  line-height: 8rem;
  font-weight: bold;
  margin-bottom: 3rem;
  background: linear-gradient(
    90deg,
    #ff0099,
    #ff6600 
  );
  background-size: 500% 500%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 10s ease infinite;
  text-align: center; /* Center the text */
  position: relative; /* Ensure proper stacking context */
}

.section-Portfolio .heading3 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: bold;
  margin: 3rem;
  background: linear-gradient(
    90deg,
    #ffcc00,
    #66ff66
   
  );
  background-size: 500% 500%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 10s ease infinite,  ease forwards;  
  text-align: center; /* Center the text */
}

.section-Portfolio .heading4 {
  font-size: 3rem;
  line-height: 8rem;
  font-weight: bold;
  margin-bottom: 3rem;
  background: linear-gradient(
    90deg,
    #00ccff,
    #9900cc
  );
  background-size: 500% 500%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 10s ease infinite,  ease forwards;  
  text-align: center; /* Center the text */
}

.section-Portfolio .heading5 {
  font-size: 3rem;
  line-height: 8rem;
  font-weight: bold;
  margin-bottom: 3rem;
  background: linear-gradient(
    90deg,
    #ff0099,
    #ff6600,
    #33ff52
  );
  background-size: 500% 500%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 10s ease infinite,  ease forwards;  
  text-align: center; /* Center the text */
}

/* Paragraph styling for the main content */
.section-Portfolio .p {
  font-size: 1.5rem; /* Slightly smaller font size for less emphasis */
  line-height: 1.8; /* Increased line height for better readability */
  color: #d7d7d7; /* Slightly lighter dark gray for a softer look */
  margin: 1rem 0; /* Increased margin for better spacing between paragraphs */
  padding: 0 1.5rem; /* Increased padding for more breathing space */
  max-width: 800px; /* Limit width for readability */
  text-align: center; /* Center align text for consistency */
  font-family: 'Arial', sans-serif; /* Modern font-family for better readability */
  letter-spacing: 0.5px; /* Slight letter spacing for improved readability */
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Subtle text shadow for better contrast */
}

/* Paragraph styling for the 'Experienced with' section */
.section-Portfolio .p2 {
  font-size: 1.2rem; /* Slightly larger font size for emphasis */
  font-weight: 600; /* Medium bold for emphasis without being too bold */
  color: #ffffff; /* Blue color for contrast and emphasis */
  margin: 1.5rem 0; /* Increased margin for spacing */
  padding: 0 1.5rem; /* Increased padding for consistency with .p */
  text-align: center; /* Center align text */
  font-family: 'Arial', sans-serif; /* Consistent font-family */
  letter-spacing: 1px; /* Slight letter spacing for a cleaner look */
  text-transform: uppercase; /* Uppercase text for emphasis */
  border-radius: 5px; /* Rounded corners for a softer look */
  display: inline-block; /* To fit the background and padding */
  padding: 0.5rem 1rem; /* Padding for better readability and fit */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle box shadow for depth */
}

 
.section-Portfolio .custom-cursor {
  cursor: url('/client/public/images/cursor.png'), auto; /* Custom cursor */
}

.icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.icons i {
  font-size: 2.4rem;
  color: #ffffff;
  transition: color 0.3s ease;
}

.icons i:hover {
  color: #007bff; /* Change color on hover */
}

#scroll-video {
  position: absolute; 
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1; /* Ensure video is behind the icons */
  /* opacity: 0.3;   */
}

.fd-row {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Adjusts alignment to the start of the row */
  gap: 20px; /* Adds space between the links */
}

.Edu-title {
  margin: 0;
  font-size: 24px;
  color: #ffffff; /* Adjust the color as needed */
  cursor: pointer;
}

 

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes rippleAnimation {
  0% {
    transform: scale(0.9);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}

/* Bounce animation */
@keyframes bounceAnimation {
  0%, 100% {
    transform: translateY(0); /* Start and end at the normal position */
  }
  50% {
    transform: translateY(-20px); /* Move up by 20px */
  }
}

/* Slide down animation */
@keyframes slideDown {
  0% {
    transform: translateY(-100vh); /* Start above the viewport */
    opacity: 0; /* Invisible at the start */
  }
  100% {
    transform: translateY(0); /* End at the normal position */
    opacity: 1; /* Fully visible at the end */
  }
}
